# from: https://github.com/vincenthsu/systemd-ngrok
# More Info about systemd service template files: https://www.digitalocean.com/community/tutorials/understanding-systemd-units-and-unit-files

[Unit]
Description=ngrok
After=network.target

[Service]
ExecStart=/home/pi/ngrok http 80
KillMode=process
IgnoreSIGPIPE=true
Restart=always
TimeoutStopSec=10s
RestartSec=5s
Type=simple
User=pi
Group=sudo

[Install]
WantedBy=multi-user.target
# see: https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target