[Unit]
Description=RFCOMM service - allows the
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStartPre=-sdptool add SP
ExecStartPre=-hciconfig hci0 piscan
ExecStartPre=-hciconfig hci0 sspmode 1
ExecStart=rfcomm watch hci0 1 getty rfcomm0 115200 vt100 -a pi

[Install]
WantedBy=multi-user.target