[Unit]
Description=uWSGI server running rov_uwsgi_server.py python to handle non-webrtc / standard api calls.

Requires=network.target
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=uwsgi --socket 127.0.0.1:3031 --wsgi-file /home/pi/internet_rov_code/python/uwsgi_server.py --master --processes 1 --threads 2 --harakiri 20
Restart=on-failure
User=pi
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
# see: https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target