[Unit]
Description=Runs the main.py python code on boot, and restarts it if it crashes from the /home/pi/internet_rov_code/python folder

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=python3 /home/pi/internet_rov_code/python/main.py
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=2s
Type=simple

[Install]
WantedBy=multi-user.target
# see: https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target