[Unit]
Description=Runs the main.py python code on boot, and restarts it if it crashes from the /home/pi/internet_rov_code/python folder

Requires=rov_go_code.service
After=rov_go_code.service

[Service]
User=pi
# PYTHONUNBUFFERED=1 is so python will spit out print messages to the system log instantly instead of waiting to in batches
Environment=PYTHONUNBUFFERED=1
# sometimes python will spit out a LOT of log / print messages, which can fill up the sd card, so we call logrotate to trim the system log before python starts.
# ExecStartPre=logrotate -f -v /etc/logrotate.conf
ExecStart=python3 /home/pi/internet_rov_code/python/main.py --config-file ~/webrtc-relay-config.json
KillMode=process
Restart=always
TimeoutStopSec=10s
RestartSec=5s
Type=simple

[Install]
WantedBy=multi-user.target
# see: https://unix.stackexchange.com/questions/506347/why-do-most-systemd-examples-contain-wantedby-multi-user-target
