html,
body {
  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  user-select: none;

  background: linear-gradient(#00effb, #1537a6);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  touch-action: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  margin: 0;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.top-left-corner {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;

  padding: 0px 16px;
}
.top-right-corner {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;

  padding: 8px;
}

#connect_btn,
#disconnect_btn {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 50%;

  transform: translateX(-50%);

  background: -webkit-linear-gradient(135deg, #0c61d8, #661ca7);
  background: linear-gradient(135deg, #0c61d8, #661ca7);
}

#connect_btn {
  transform: translate(-50%, 20vh) scale(2);
}

button {
  position: relative;

  display: inline-block;

  padding: 10px 18px;

  cursor: pointer;
  text-decoration: none;

  color: #fff;
  border: none;
  border: 3px solid;
  border-radius: 6px;
  background: -webkit-linear-gradient(135deg, #d2a500, #ea2c00);
  background: linear-gradient(135deg, #d2a500, #ea2c00);
  box-shadow: 0 3px 6px -1px rgb(0 0 0 / 12%), 0 10px 36px -4px rgb(77 96 232 / 30%);

  font-size: large;
  font-weight: bold;
}

button:hover,
button:focus {
  border: 3px solid black;
}

button:active {
  border: 3px solid rgb(0, 153, 255);
}
/*
.gamepad-debug-area {
    position: absolute;
    right:0;
    bottom:0;
}

.gamepad-debug-area .gamepad-axis-viewer {
    width: 100px;
    height: 100px;

    border: 1px solid greenyellow;
    border-radius: 6px;
}

.gamepad-debug-area .gamepad-axis-viewer .debug-dot {
    width: 5px;
    height: 5px;

    border-radius: 5px;
    background-color: blueviolet;
} */

/* Drop Down Menus */

.icon-btn {
  position: relative;

  display: block;

  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  pointer-events: all;

  border: none;
  border-bottom: 2px solid grey;
  background: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.transparent-btn {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.icon-btn.top-btn {
  border-radius: 10px 10px 0 0;
}

.icon-btn.middle-btn {
  border-radius: 0;
}

.icon-btn.bottom-btn {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.power-menu-btn {
  background-image: url("../images/ui-elements/settings_power_black_24dp.svg");
}

.gamepad-menu-btn {
  background-image: url("../images/ui-elements/gamepad_black_24dp.svg");
}

.debug-menu-btn {
  background-image: url("../images/ui-elements/insights_black_24dp.svg");
}

.fullscreen-btn {
  margin-bottom: 10px;

  border-radius: 100px;
  background-image: url("../images/ui-elements/open_in_full_black_24dp.svg");
}

.fullscreen-btn.fullscreen-open {
  background-image: url("../images/ui-elements/close_fullscreen_black_24dp.svg");
}

.dropdown-menu-list:focus-within,
.dropdown-menu-list:hover {
  visibility: visible;
}

.icon-btn:focus + .dropdown-menu-list,
.icon-btn:hover + .dropdown-menu-list {
  visibility: visible;
}

.dropdown-menu-list {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 60px;

  visibility: hidden;
  overflow: hidden;

  min-width: 200px;
  padding: 4px;

  pointer-events: all;
}

.dropdown-menu-list ul {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  padding: 0;

  list-style-type: none;

  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown-menu-list li {
  padding: 12px;

  cursor: pointer;

  color: black;
  border-bottom: 2px solid grey;
  background-color: rgb(255, 255, 255);

  font-weight: bold;
}

.dropdown-menu-list li:hover {
  color: white;
  border-bottom: 2px solid rgb(0, 153, 255);
  background-color: rgb(0, 52, 87);
}

/* CIRCULAR CORNER MENU WITH ICONS */

#circle_corner_menu {
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 70px;
  height: 70px;

  transition: width 0.4s ease, height 0.4s ease;

  border-radius: 0 188px 0 0;
  background-color: black;
  box-shadow: 0 0px 20px -5px rgb(0 0 0 / 48%);
}

#circle_corner_menu:hover,
#circle_corner_menu.expanded,
#circle_corner_menu:focus-within {
  width: 130px;
  height: 130px;
}

#circle_corner_menu:focus-within {
  transition: none;
}

#circle_corner_menu:hover .icon-links-hover-hint,
#circle_corner_menu.expanded .icon-links-hover-hint,
#circle_corner_menu:focus-within .icon-links-hover-hint {
  opacity: 0.1;
}

.icon-links-hover-hint {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 11px;

  user-select: none;

  color: white;

  font-size: 56px;
  line-height: 30px;
}

#circle_corner_menu a {
  position: absolute;

  opacity: 1;
}

#circle_corner_menu img {
  height: 30px;
  padding: 12px;

  border-radius: 100px;
}

/* ********* Gamepads / Gamepad Help ********* */

#gamepad-connect-notice,
#too-many-gamepads-notice {
  position: absolute;
  z-index: 9;
  bottom: 53px;
  left: 50%;

  display: block;

  max-width: 40vw;

  transform: translateX(-50%);
  text-align: center;

  color: #ffcb00;

  font-family: sans-serif;
  font-size: 26px;
}

#gamepad-container {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;
}

#gamepad-help-text {
  position: absolute;
  top: 58px;
  right: 0;
  left: 50%;

  display: none;

  box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 7px;

  transform: translateX(-50%);
  text-align: center;

  font-family: sans-serif;
  font-size: 26px;
}

#gamepad-help-button {
  position: absolute;
  z-index: 10;
  bottom: 6px;
  left: 50%;

  transform: translateX(-50%);
  pointer-events: all;
}

.onscreen-gamepad {
  position: absolute;
  bottom: -15px;

  height: 60vh;
  min-height: 9cm;
  max-height: 14cm;

  pointer-events: none;
}

#gamepad-container.help-open {
  z-index: 20;

  pointer-events: all;

  background-color: #ffffffba;

  backdrop-filter: blur(3px);
}

#gamepad-container.help-open #gamepad-connect-notice {
  display: none;
}

#gamepad-container.help-open #gamepad-help-text {
  display: block;
}

#gamepad-container.help-open #onscreen-gamepad-left {
  left: 50% !important;

  transform: translateX(-120%);
}

#gamepad-container.help-open #onscreen-gamepad-right {
  right: 50% !important;

  transform: translateX(120%);
}

.livestream-container {
  position: relative;

  display: block;

  width: fit-content;
  margin: auto;

  cursor: zoom-in;
}
.livestream-container:-webkit-full-screen {
  cursor: zoom-out;
}
.livestream-container:-moz-full-screen {
  cursor: zoom-out;
}
.livestream-container:-ms-fullscreen {
  cursor: zoom-out;
}
.livestream-container:fullscreen {
  cursor: zoom-out;
}
#video-livestream {
  height: 100%;
}

.gamepad-btn-highlight {
  visibility: hidden;

  pointer-events: all;
}

.gamepad-btn-highlight.touched {
  visibility: visible;

  opacity: 0.5;
}

.gamepad-btn-highlight.pressed {
  visibility: visible;

  opacity: 1 !important;
}

.gamepad-arrow-highlight {
  visibility: hidden;

  pointer-events: none;
}

.gamepad-arrow-highlight.touched {
  visibility: visible;
}

.gamepad-arrow-highlight.axis-moved {
  visibility: visible;

  opacity: 0.5 !important;
}

.gamepad-joystick-touch-area {
  position: fixed;
  bottom: 0;

  width: 50%;
  height: 10cm;

  pointer-events: all;
  /* background-color: #0c61d860; */

  touch-action: none;
}

.gamepad-joystick-touch-area#gamepad-joystick-touch-area-left {
  left: 0;
}

.gamepad-joystick-touch-area#gamepad-joystick-touch-area-right {
  right: 0;
}
